@import "~sass-rem";

.container {
  min-height: 100vh;
}

.content {
  min-height: calc(100vh - rem(64px));
  padding: rem(80px) rem(20px);

  background-color: #EAEEF3;

  transition: margin 225ms cubic-bezier(0, 0, 0.2, 1), width 225ms cubic-bezier(0, 0, 0.2, 1);

  &.open{
    width: calc(100% - rem(240px));
    margin-left: rem(240px);
  }
}
